# Dependencies
node_modules/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Expo
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
*.log*

# Environment
.env
.env.local
.env.*.local

# Temporary
*.tmp
tmp/
temp/
